<main [style.--hue]="hue.value"
  [style.--saturation.%]="saturation.value"
  [style.--lightness.%]="lightness.value"
  [style.--opacity]="opacity.value">
	<section>
			<h2>Background Color</h2>
			<div>
				<label for="hue">Hue: </label>
				<input id="hue" type="range" min="0" max="360" [formControl]="hue">
      </div>

			<div>
					<label for="saturation">Saturation: </label>
					<input id="saturation" type="range" min="0" max="100" [formControl]="saturation">
      </div>

			<div>
						<label for="lightness">Lightness: </label>
						<input id="lightness" type="range" min="0" max="100" [formControl]="lightness">
      </div>

			<div>
				<label for="opacity">Opacity: </label>
				<input id="opacity" type="range" min="0" max="1" step="0.1" [formControl]="opacity">
      </div>

			<div class="flex-row-container">
        <div class="color-demo"></div>

        <p style="color: var(--user-selected-color)">hsla({{hue.value}}, {{saturation.value}}, {{lightness.value}}, {{opacity.value}})</p>

		  </div>

      <!-- <div class="flex-row-container">
        <div class="complement-demo"></div>

        <p style="color: var(--accent-color)">hsla({{hue.value > 180 ? hue.value - 180 : hue.value + 180}}, {{saturation.value}}, {{lightness.value}}, {{opacity.value}})</p>

		  </div> -->
	</section>

	<section [style.--blend-mode]="mode.value">
    <h2>
      <label for="mode">
        Background blend mode
      </label>
    </h2>
		
		<select [formControl]="mode" id="mode">
    <option *ngFor="let blendMode of blendMode"  [ngValue]="blendMode">
      {{ blendMode }}
    </option>
    </select>

		<div class="img-container">
		</div>
	</section>


</main>