:host {
  display: block;
  padding: 2em;
  margin: 1em;
  min-width: 200px;
  border: 5px ridge var(--user-selected-color);
  border-radius: 20px/30px;
}

main {
    --accent-color: hsla(
    calc(var(--hue) + 180), 
    var(--saturation), 
    var(--lightness),
    var(--opacity));
}

section {
  margin-bottom: 2em;
}

h2 {
  margin-top: 0;
}

select {
  margin-bottom: 2em;
  font-size: 1em;
  line-height: 1.5;
  height: 30px;
  width: 200px;
  outline: none;
  border: 1px solid var(--accent-color);
  background: transparent;
}

select:hover {
  box-shadow: 0 0 3px var(--accent-color);
}

.color-demo {
  width: 1em;
  height: 1em;
  background-color: var(--user-selected-color);
  margin: auto 1em 1em 0;
  /* box-shadow: 3px 3px 3px hsla(var(--hue), var(--saturation), calc(var(--lightness) + 5%), var(--opacity)); */
}

.complement-demo {
    width: 1em;
  height: 1em;
  background-color: var(--accent-color);
  margin: auto 1em 1em 0;
}

/* .demo-text {
  color: var(--user-selected-color);
} */

.fixed-width {
    display: inline-block;
    width: 2em;
}

.img-container {
  width: 500px;
  height: 300px;
  max-width: 80%;
  background-image: url('https://images.unsplash.com/photo-1515248101569-f6e91c070aa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-color: var(--user-selected-color);
  background-size: cover;
  background-blend-mode: var(--blend-mode);
}
